Source: ros-melodic-rqt-rosmon
Section: misc
Priority: extra
Maintainer: Max Schwarz <max.schwarz@uni-bonn.de>
Build-Depends: debhelper (>= 9.0.0), qtbase5-dev, ros-melodic-catkin, ros-melodic-roscpp, ros-melodic-rosmon-msgs, ros-melodic-rqt-gui, ros-melodic-rqt-gui-cpp
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-rqt-rosmon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-roscpp, ros-melodic-rosmon-msgs, ros-melodic-rqt-gui, ros-melodic-rqt-gui-cpp
Description: rqt GUI for rosmon, the node launcher and monitor for ROS.
 rosmon is a replacement for the roslaunch tool, focused on performance, remote monitoring, and usability.
